<!DOCTYPE html>
<html>
    <head>
        <title>
            {{title}}
        </title>
        <link rel = "icon" href = "https://icon-library.com/images/information-icon-white/information-icon-white-23.jpg" type = "image/x-icon">
        <link rel = "stylesheet" href = "{{url_for('static',filename = 'main.css')}}"/>
    </head>
<body>
<div class = "root">
    <br>
    
        <div class = "header">
            <div class = "nav-bar">
            <nav>
                <li><a href = home.html>HOME</a></li>
                <li><a href = "About.html">ABOUT</a></li>
                <li><a href="Day.html">DAYS</a></li>
                <li><a href = "report.html">REPORT</a></li>
                <li><a href  = "Test.html">TEST</a></li>
                <li><a href = "Contact.html">CONTACT</a></li>
            </nav> 
        </div>   
            <br>
            <div class = "title">
                <p>FRUIT RIPENING AND MONITORING USING COMPUTER <br> BASED INTELLIGENCE AND IoT</p>
        </div>
    </div>
    <br><br>
    <div class = "content-about">
    <div class = "paragraph">
        <div class = "Heading-engg">
            <center><h1> Guided By :  </h1></center></div>
    </br>
            <div class = "para-scroll">
                <p> Mr. Arun Raj V&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;Assitant Professor</p><br>
            </div><!--para scroll-->
        <div class = "Heading-engg">
            <center><h1> Submitted By :  </h1></center></div>
    </br>
            <div class = "para-scroll">
                
                <p>   1, Gowtham Vignesh M M&emsp;19BEC040&emsp;IV ECE A </p><br>
                <p>   2, Madan Kumar A K&emsp;&emsp;&emsp;&ensp;19BEC044&emsp;IV ECE A </p> <br>
                <p>   3, Vishnu Pradeesh N&emsp;&emsp;&emsp;19BEC059&emsp;IV ECE A </p><br>
           
            </div><!--para scroll-->
            
        
    </div><!--paragraph end-->
    


    </div>  


</div><!--content end-->

  


</body>
</html>