<!DOCTYPE html>
<html>
    <head>
        <title>
            {{title}}
        </title>
        <link rel = "icon" href = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTQsnHPfvRAIHriUgs4_v4I6HgnfOKP89np5Q&usqp=CAU" type = "image/x-icon">
        <link rel = "stylesheet" href = "{{url_for('static',filename = 'main.css')}}"/>
    </head>
<body>
<div class = root>
    <br>
    
        <div class = "header">
            <div class = "nav-bar">
            <nav>
                <li><a href = home.html>HOME</a></li>
                <li><a href = "About.html">ABOUT</a></li>
                <li><a href = "Day.html">DAYS</a></li>
                <li><a href = "report.html">REPORT</a></li>
                <li><a href = "Test.html">TEST</a></li>
                <li><a href = "Contact.html">CONTACT</a></li>
            </nav> 
        </div>   
            <br>
            <div class = "title">
                <p>FRUIT RIPENING AND MONITORING USING COMPUTER <br> BASED INTELLIGENCE AND IoT</p>
        </div>
    </div>
    <div class = "content-contact">
        <div class = "queries">
            <p id = "contact-word">Contact Us:</p>
            <br>
            <div class = "link1">
            <a href = "https://mail.google.com/mail/u/0/?fs=1&to=finalyearpro833@gmail.com&su=QUERIES+-reg.,&body=Respected+all&bcc=nvp15a1@gmail.com,aeromadan2002@gmail.com,gowthamvignesh129@gmail.com&tf=cm " target = "_blank"><p>Via Email</p></a>
            </div>
            <br>
            <div class = "link2">
            <a href = "https://web.whatsapp.com/send?phone=+919944095225&text=Hey%C2%A0All%21" target = "_blank"><p>Via Whatsapp</p></a>
        </div>
        </div>
    
    </div><!--content end-->
    
</div><!--root -->
</body>
</html>