<!DOCTYPE html>
<html>
    <head>
        <title>
            {{title}}
        </title>
        <link rel = "icon" href = "https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTKhqHVBz1ZVC5Errpylb7E2IZW--O0Qq05UkGFFqxr18JWza58a-ejbaMNhoZlIbmRZyM&usqp=CAU">
        <link rel = "stylesheet" href = "{{url_for('static',filename = 'main.css')}}"/>
       
    </head>
<body>
<div class = "root">
    <br>
    
        <div class = "header">
            <div class = "nav-bar">
            <nav>
                <li><a href = home.html>HOME</a></li>
                <li><a href = "About.html">ABOUT</a></li>
                <li><a href = "Day.html">DAYS</a></li>
                <li><a href = "report.html">REPORT</a></li>
                <li><a href = "Test.html">TEST</a></li>
                <li><a href = "Contact.html">CONTACT</a></li>
            </nav> 
        </div>   
            <br>
            <div class = "title">
                <p>FRUIT RIPENING AND MONITORING USING COMPUTER <br> BASED INTELLIGENCE AND IoT</p>
        </div>
    </div>
    <br><br>
    <div class = "content-test">
    <div class = "content-test-data">
        <form action = "{{url_for('Test')}}" method = "POST" enctype = "multipart/form-data">
            <div id = "content-test-data-file">
        <input type = "file" name = "File"  id = "FILE" accept="image/png, image/jpg, image/jpeg"/>
            </div>
            <input type = "submit" id="SUB" /> 
     </form>
     <br>
     <a href = "capture.html"><marquee scrollamount="10">Take Photo</marquee></a>
    </div>
    <div class="camera-input">
      {% if user_image %}
        <img src= "{{ user_image }}" alt="Italian Trulli" width="640" height="480"> 
        <div class="camera-data"><p>CLASS : <h>{{result}}</h>&emsp;AND&emsp;PERCENT :<h>{{prediction}}% </h></p></div>
        
      {% else %}
        <h1>{{DATA}}</h1>
      {% endif %} 
    </div> 
</div>  <!--content-test --> 

</div><!--root-->
</body>
</html>